-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: gestion_casques
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `gestion_casques`
--

/*!40000 DROP DATABASE IF EXISTS `gestion_casques`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `gestion_casques` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `gestion_casques`;

--
-- Temporary table structure for view `active_agents_full`
--

DROP TABLE IF EXISTS `active_agents_full`;
/*!50001 DROP VIEW IF EXISTS `active_agents_full`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `active_agents_full` AS SELECT
 1 AS `employee_id`,
  1 AS `full_name`,
  1 AS `prenom`,
  1 AS `nom`,
  1 AS `goscode`,
  1 AS `supervisor`,
  1 AS `project_name`,
  1 AS `facility`,
  1 AS `hire_date`,
  1 AS `termination_date`,
  1 AS `windows_login`,
  1 AS `etat_login`,
  1 AS `last_login`,
  1 AS `depart_date` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `affectation`
--

DROP TABLE IF EXISTS `affectation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affectation` (
  `id_affectation` int(11) NOT NULL AUTO_INCREMENT,
  `id_casque` int(11) DEFAULT NULL,
  `id_employe` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id_affectation`),
  KEY `id_casque` (`id_casque`),
  CONSTRAINT `affectation_ibfk_1` FOREIGN KEY (`id_casque`) REFERENCES `casque` (`id_casque`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affectation`
--

LOCK TABLES `affectation` WRITE;
/*!40000 ALTER TABLE `affectation` DISABLE KEYS */;
INSERT INTO `affectation` (`id_affectation`, `id_casque`, `id_employe`) VALUES (1,1,1);
/*!40000 ALTER TABLE `affectation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affectations`
--

DROP TABLE IF EXISTS `affectations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affectations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_casque` int(11) NOT NULL,
  `matricule_agent` varchar(50) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_casque` (`id_casque`),
  CONSTRAINT `affectations_ibfk_1` FOREIGN KEY (`id_casque`) REFERENCES `casques` (`id_casque`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affectations`
--

LOCK TABLES `affectations` WRITE;
/*!40000 ALTER TABLE `affectations` DISABLE KEYS */;
/*!40000 ALTER TABLE `affectations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_accounts`
--

DROP TABLE IF EXISTS `agent_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(20) DEFAULT NULL,
  `prenom` varchar(100) DEFAULT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `facility` varchar(150) DEFAULT NULL,
  `goscode` varchar(50) DEFAULT NULL,
  `project_name` varchar(200) DEFAULT NULL,
  `title` varchar(200) DEFAULT NULL,
  `samaccountname` varchar(100) DEFAULT NULL,
  `etat_login` varchar(100) DEFAULT NULL,
  `date_in` date DEFAULT NULL,
  `date_out` date DEFAULT NULL,
  `last_login` date DEFAULT NULL,
  `ad_created` date DEFAULT NULL,
  `distinguished_dn` text DEFAULT NULL,
  `info` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=484 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_accounts`
--

LOCK TABLES `agent_accounts` WRITE;
/*!40000 ALTER TABLE `agent_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_actif`
--

DROP TABLE IF EXISTS `agent_actif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_actif` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `facility` varchar(150) DEFAULT NULL,
  `employee_id` varchar(20) DEFAULT NULL,
  `full_name` varchar(200) DEFAULT NULL,
  `goscode` varchar(50) DEFAULT NULL,
  `project_name` varchar(200) DEFAULT NULL,
  `date_in` date DEFAULT NULL,
  `date_out` date DEFAULT NULL,
  `login_count` int(11) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=316 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_actif`
--

LOCK TABLES `agent_actif` WRITE;
/*!40000 ALTER TABLE `agent_actif` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_actif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_sf`
--

DROP TABLE IF EXISTS `agent_sf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_sf` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(20) DEFAULT NULL,
  `full_name` varchar(200) DEFAULT NULL,
  `prenom` varchar(100) DEFAULT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `goscode` varchar(50) DEFAULT NULL,
  `supervisor_prenom` varchar(100) DEFAULT NULL,
  `supervisor_nom` varchar(100) DEFAULT NULL,
  `project_name` varchar(200) DEFAULT NULL,
  `facility` varchar(150) DEFAULT NULL,
  `hire_date` date DEFAULT NULL,
  `termination_date` date DEFAULT NULL,
  `nbr_login` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_sf`
--

LOCK TABLES `agent_sf` WRITE;
/*!40000 ALTER TABLE `agent_sf` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_sf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casque`
--

DROP TABLE IF EXISTS `casque`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `casque` (
  `id_casque` int(11) NOT NULL AUTO_INCREMENT,
  `numero_serie` varchar(100) DEFAULT NULL,
  `statut` enum('disponible','affecte','maintenance') DEFAULT 'disponible',
  PRIMARY KEY (`id_casque`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casque`
--

LOCK TABLES `casque` WRITE;
/*!40000 ALTER TABLE `casque` DISABLE KEYS */;
INSERT INTO `casque` (`id_casque`, `numero_serie`, `statut`) VALUES (1,'SN123','disponible');
/*!40000 ALTER TABLE `casque` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casques`
--

DROP TABLE IF EXISTS `casques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `casques` (
  `id_casque` int(11) NOT NULL AUTO_INCREMENT,
  `numero_serie` varchar(100) NOT NULL,
  `marque` varchar(100) NOT NULL,
  `etat` enum('Disponible','Affect??','Maintenance') NOT NULL DEFAULT 'Disponible',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_casque`),
  UNIQUE KEY `numero_serie` (`numero_serie`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casques`
--

LOCK TABLES `casques` WRITE;
/*!40000 ALTER TABLE `casques` DISABLE KEYS */;
/*!40000 ALTER TABLE `casques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demandes`
--

DROP TABLE IF EXISTS `demandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `demandes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `agent` varchar(100) NOT NULL,
  `type_demande` varchar(200) NOT NULL,
  `priorite` enum('Basse','Moyenne','Haute','Urgent') NOT NULL DEFAULT 'Moyenne',
  `statut` enum('En attente','Approuv??','Refus??') NOT NULL DEFAULT 'En attente',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandes`
--

LOCK TABLES `demandes` WRITE;
/*!40000 ALTER TABLE `demandes` DISABLE KEYS */;
/*!40000 ALTER TABLE `demandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etat_login_windows_capacity`
--

DROP TABLE IF EXISTS `etat_login_windows_capacity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etat_login_windows_capacity` (
  `employee_id` bigint(20) DEFAULT NULL,
  `employee_name` varchar(200) DEFAULT NULL,
  `employee_firstname` varchar(100) DEFAULT NULL,
  `employee_lastname` varchar(100) DEFAULT NULL,
  `goscode` varchar(100) DEFAULT NULL,
  `supervisor_firstname` varchar(100) DEFAULT NULL,
  `supervisor_lastname` varchar(100) DEFAULT NULL,
  `project_name` varchar(200) DEFAULT NULL,
  `facility` varchar(200) DEFAULT NULL,
  `hire_date` date DEFAULT NULL,
  `termination_date` date DEFAULT NULL,
  `nbr_login` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etat_login_windows_capacity`
--

LOCK TABLES `etat_login_windows_capacity` WRITE;
/*!40000 ALTER TABLE `etat_login_windows_capacity` DISABLE KEYS */;
INSERT INTO `etat_login_windows_capacity` (`employee_id`, `employee_name`, `employee_firstname`, `employee_lastname`, `goscode`, `supervisor_firstname`, `supervisor_lastname`, `project_name`, `facility`, `hire_date`, `termination_date`, `nbr_login`) VALUES (1,'Manal Terrab',NULL,NULL,NULL,NULL,NULL,'Projet X',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `etat_login_windows_capacity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etat_login_windows_casacity__1_`
--

DROP TABLE IF EXISTS `etat_login_windows_casacity__1_`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etat_login_windows_casacity__1_` (
  `COL 1` varchar(205) DEFAULT NULL,
  `COL 2` varchar(32) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etat_login_windows_casacity__1_`
--

LOCK TABLES `etat_login_windows_casacity__1_` WRITE;
/*!40000 ALTER TABLE `etat_login_windows_casacity__1_` DISABLE KEYS */;
/*!40000 ALTER TABLE `etat_login_windows_casacity__1_` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique`
--

DROP TABLE IF EXISTS `historique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historique` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action` varchar(50) NOT NULL,
  `target` varchar(100) NOT NULL,
  `user_nom` varchar(100) NOT NULL DEFAULT 'System',
  `details` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique`
--

LOCK TABLES `historique` WRITE;
/*!40000 ALTER TABLE `historique` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateurs` (
  `id_utilisateur` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `role` enum('admin','it','viewer') NOT NULL DEFAULT 'viewer',
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
INSERT INTO `utilisateurs` (`id_utilisateur`, `nom`, `email`, `mot_de_passe`, `role`, `last_login`, `created_at`) VALUES (1,'Admin Salma','admin@foundever.com','$2y$10$JHOBHT7wbLLaTnr8RtdJuOaS84J3GNnsAG9jTHPS/HVvG.Sg3q11i','admin','2026-05-10 23:17:59','2026-05-06 14:17:51'),(2,'Jaouad IT','it@foundever.com','$2y$10$JHOBHT7wbLLaTnr8RtdJuOaS84J3GNnsAG9jTHPS/HVvG.Sg3q11i','it',NULL,'2026-05-06 14:17:51');
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'gestion_casques'
--

--
-- Current Database: `gestion_casques`
--

USE `gestion_casques`;

--
-- Final view structure for view `active_agents_full`
--

/*!50001 DROP VIEW IF EXISTS `active_agents_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `active_agents_full` AS select `sf`.`employee_id` AS `employee_id`,`sf`.`full_name` AS `full_name`,`sf`.`prenom` AS `prenom`,`sf`.`nom` AS `nom`,`sf`.`goscode` AS `goscode`,concat(`sf`.`supervisor_prenom`,' ',`sf`.`supervisor_nom`) AS `supervisor`,`sf`.`project_name` AS `project_name`,`sf`.`facility` AS `facility`,`sf`.`hire_date` AS `hire_date`,`sf`.`termination_date` AS `termination_date`,`aa`.`samaccountname` AS `windows_login`,`aa`.`etat_login` AS `etat_login`,`aa`.`last_login` AS `last_login`,`aa`.`date_out` AS `depart_date` from (`agent_sf` `sf` left join `agent_accounts` `aa` on(`aa`.`employee_id` = `sf`.`employee_id`)) order by `sf`.`project_name`,`sf`.`nom` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-10 23:19:09
